// =============== f and q css =================
.fq__section .destination__title h2 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}

.fq__section {
    padding: 80px 0px 30px;

    p {
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        color: #000000;
    }

    h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 48px;
        color: #000000;
        margin-bottom: 15px;
    }
    ul{
        li{
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            color: #000000;
            padding-bottom: 5px;
        }
    }
}
// ============== terms and condition css ==============

